html {
  background-color: #9943EE;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23842ed9' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Advent Pro', sans-serif;
  font-size: 25px;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: rgba(12, 12, 12, 1);
  position: fixed;
  top: 0;
  width: 1170px;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(185, 49, 195);
}

main {
  margin-top: 120px;
}

footer {
  text-align: center;
  background-color: rgba(12, 12, 12, 0.7);
}

/* START OF TARGET */
/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

/* Add animation (Standard syntax) */
@keyframes example {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

/* The modal's background */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Display the modal when targeted */
.modal:target {
  display: table;
  position: absolute;
}

/* The modal box */
.modal-dialog {
  display: table-cell;
  vertical-align: middle;
}

/* The modal's content */
.modal-dialog .modal-content {
  margin: auto;
  background-color: rgba(26, 25, 25, 0.9);
  position: relative;
  padding: 0;
  outline: 0;
  border: 1px  rgb(185, 49, 195)solid;
  text-align: justify;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* Add animation */
  -webkit-animation-name: example;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s;
  /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 0.5s;
}

/* The button used to close the modal */
.closebtn {
  text-decoration: none;
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.closebtn:hover,
.closebtn:focus {
  color: rgb(185, 49, 195);
  text-decoration: none;
  cursor: pointer;
}

/* END OF TARGET */

.container {
  padding: 5px 16px;
  background-color: rgba(12, 12, 12, 0.7);
  margin-bottom: 10px;
}

input[type=text] {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

button,
select {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgba(32, 32, 32, 0.95);
  font-size: 20px;
  color: white;
  cursor: pointer;
}

button:hover {
  color: rgb(185, 49, 195);
}

.but {
  width: auto;
}

.input_dis {
  color: white;
}

.calculator {
  width: 280px;
  margin: 50px auto;
  padding: 10px;
  background-color: rgba(20, 20, 20, 0.95);
  border: 1px solid  rgb(185, 49, 195);
  border-radius: 5px;
  text-align: center;
}

input[type=text] {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgba(50, 50, 50, 0.95);
  color: white;
}

button {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgba(32, 32, 32, 0.95);
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(52, 52, 52, 0.95);
}
